        <!-- Brécho Maria Peregrina-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <img src="/assets/img/logo.png" class="img fluid" weight="100px" width="100px">
                   
                   
      <body>
    <div class="watermark-container">
        <div class="content <img src="/assets/img/logo.png"">
                  <a class="navbar-brand" href="#page-top" style="font-size: 30px;">Brechó Maria Peregrina</a>
               <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"</i>  
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about"></a></li>
                        <li class="nav-item"><a class="nav-link" href="#projects"></a></li>
                        <li class="nav-item"><a class="nav-link" href="#signup"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        
                        <h1 class="mx-auto my-0 text-uppercase"></h1>
                        <h2 class="text-black-100 mx-auto mt-2 mb-5"> O brechó é um projeto da escola Maria Peregrina onde além de vender roupas tanto para o público infantil,masculino e feminino tem o objetivo de trazer uma renda para a escola.</h2>
                        <a class="btn btn-primary" href="#about"> Saiba mais </a>
                    </div>
                </div>
            </div>
        </header>

        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                    
                        <h2 class="text-black mb-4">ROUPAS </h2>
                         <p class="text-black-70 text-justify"></p>
                         </p> Quando falamos das roupas do brechó posso asegurar que todas antes de vender são limpas e muito bem escolhidas para ter a melhor qualidade possível em termo de costura,tecido e coloração.Todas as roupas que são colocadas a venda muitas são seminovas ou doadas em boas condições.
                             Há uma grande váriação de roupas deis de calças e blusas até ternos. Também temos calçados femininos, masculinos e infantil,há tênis,sandálias, botas, rasterinhas etc..
                            
                        </p>
                             <img src="assets/img/brechos.roupas.jpg" class="img fluid" weight="1000px" width="500px">
                    </div>
                </div>
            </div>
        </section>
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-4"><img src="assets/img/sofa.png" alt="..." /></div>
                    <div class="col-lg-4">
                        <div class="text-center h-200 project">
                            <div class="d-flex h-100">
                                <div class="my-auto text-center text-lg-left">
                                    <h2 class="text-black mb-4"> Móveis </h2>
                                     <p class="text-black-90 mb-0"> Uma das novidades que o brechó Maria Peregrina oferece é a vendas de imovéis dentro do próprio brechó.Dentro do local é fornecido armário,camas box,sofás,cortinas etc...
                                        Todos os movéis são novos ou usados porém assim como as roupas são todos de qualidade. </p>
                                </div>
                             </div>
                             </div>
                             </div>
                           </div>

        
        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            
                <!-- Project One Row-->
                <div class="row gx-0 mb-10 mb-lg-0 justify-content-center">
                    <div class="col-lg-5"><img class="img-fluid" src="assets/img/roupAS.jpg" class="img fluid" weight="900px" width="800px"/></div>
                    <div class="col-lg-5">
                    <div class="bg-white text-center h-100 project">
                        <div class="d-flex h-100 align-items-center justify-content-center">
                            <div class="project-text w-100 text-center px-3">
                                <h2 class="text-black mb-4"> Acompanhe nas redes sociais!! </h2>
                                <p class="text-black-70 text-justify">
                                    Uma das formas de você ficar mais por dentro da nossa loja é nos acompanhar nas redes sociais. Nosso Instagram é @brechomariaperegrina.vetorazzo, onde postamos todas as novidades da loja.
                                </p>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                      <div class="col-lg-4 order-lg-first">
                        <div class=" text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-black"></h4>
                                    <p class="mb-0 text-black-50"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Signup-->
        <section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-black"></i>
                        <h2 class="text-black mb-5"> Coloque seu email e fique por dentro de tudo!</h2>
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Email address input-->
                            <div class="row input-group-newsletter">
                                <div class="col"><input class="form-control" id="emailAddress" type="email" placeholder="Insira o endereço de email..." aria-label="Insira o endereço de email..." data-sb-validations="obrigatório, e-mail" /></div>
                                <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Notifica-me!</button></div>
                                
                            </div>
                            
                            <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email"> Email não é valido.</div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3 mt-2 text-white">
                                    <div class="fw-bolder">Envio de email realizado com sucesso!</div>
                                
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms"></a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Erro ao enviar o email!</div></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="contact-section bg-">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <img src="/assets/img/mapa.png"class="img fluid" weight="100px" width="50px"/>
                                </img>

                                <h4 class="text-uppercase m-0">São José do Rio Preto - SP
                                 Av. Fortunato Ernesto Vetorasso, 1462 - Bairro Jardim Village</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-70" <div class="small text-black-50"><a href="https://www.google.com.br/maps/place/Brecho+Maria+Peregrina/@-20.7929609,-49.4172083,17z/data=!4m6!3m5!1s0x94bdad69812a4ef3:0x2955bd734faef743!8m2!3d-20.792857!4d-49.4171603!16s%2Fg%2F11gr2cg1xj?entry=ttu">Endereço </a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <img src="/assets/icons/whatsapp.svg"></img>
                                <h4 class="text-uppercase m-0">+55 17 99179-4080</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="https://api.whatsapp.com/message/MRBEGXCSJ654C1?autoload=1&app_absent=0">Whatsapp</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <img src="/assets/icons/icons8-instagram.svg"></img>
                                <h4 class="text-uppercase m-0">@brechomariaperegrina.vetorazzo</h4>
                                    <hr class="my-4 mx-auto" />
                               <div class="small text-black-70"><a href="https://www.instagram.com/brechomariaperegrina.vetorazzo/">instagram</a></div>
                            </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-black-50">nyry<div class="container px-4 px-lg-5"> &copy; </div></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
