<body>

  <!-- Header -->
  <header class="header">
    <div class="container">
      <h1 class="logo">Brécho Maria Peregrina</h1>
      <nav>
        <ul class="nav-links">
          <li><a href="#">Início</a></li>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>




  <!-- Destaque -->
  <section class="highlight">
    <div class="container">
      <h2>Destaques</h2>
      <p>Algum texto de destaque aqui...</p>
      <a href="#" class="btn btn-primary">Saiba Mais</a>
    </div>
  </section>

  <!-- Rodapé -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Minha Página. Todos os direitos reservados.</p>
    </div>
  </footer>
  </body>